
body{
	width: 750px;
	padding: 12px 20px; 
	margin: auto;
	border: 1px solid #ccc;
	box-sizing: border-box; 
	background: linear-gradient(white, #757780); 
	font-family: "Courier New", Courier, monospace;
	text-align: center;
}

p{
	text-align: justify;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 0px 10px 0px 10px;
}

ul{
	list-style-type: none; 
	margin: 0;
	padding: 0;
	overflow: hidden; 
	background-color: #333; 
}

li{
	float: right;
}

li a{
	display: block; 
	color: white; 
	text-align: center;
	padding: 14px 16px;
	text-decoration: none; 
}

li a:hover {
	background-color: #111;
}

.imgcontainer{
	text-align: center;
	
}

img.mountains {
	width: 100%; 
}

#footer{
	margin: 50px; 
	font-family: "Courier New", Courier, monospace;
	font-size: 12px; 
	text-align: center; 
}
